.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 48px;
}
.nores {
  font-size: 48px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1300px;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.error-display {
  height: 100px;
}

.msj{
    text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #a259ff;
}

.back {
  width: 80px;
  height: 61px;
  margin-left: 20px;
  background-color: #e7d576;
}

.add-game {
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 750px;
  height: 100px;
  margin-right: 70px;
}

.black-div{
  background-color: rgb(0, 0, 0);
  
  border: solid 1px #121A23;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  
  
  margin: 10px;
  width: 205px;
  height: 305px;
  
  
  
  position: absolute;
  
}
.div-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  margin: auto;
  width: 650px;
}

.div-container {
  width: 700px;
  border: solid black;
  border-width: 1px 3px 5px 1px;
  justify-content: center;
  margin: auto;
  background-color: white;
}

.first-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 310px;
}

.h4 {
  color: brown;
  font-size: 18px;
  margin-top: 0px;
  height: 10px;
}

/* .h3 {
  color: black;
  font-size: 18px;
  margin-top: 0px;
  height: 10px;
} */

.second-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 310px;
}

.item-group {
  height: 100px;
}
.item-rel {
  height: 147px;
}

.item-image {
  height: 80px;
}

.item-desc {
  min-height: 159px;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputs {
  font-family: VT323;
  font-size: 32px;
}

.inputs::placeholder {
  font-size: 22px;
}

.fieldset {
  margin-bottom: 20px;
}

.fieldset-inside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 180px;
  margin-bottom: 10px;
}

.button-bar {
  display: flex;
  flex-direction: row;
  align-self: auto;
  justify-content: space-around;
  align-items: center;
  width: 650px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button-reset {
  display: flex;
  background-color: #e7d576;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 61px;
  border: solid 1px;
}
.button-add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a259ff;
  width: 150px;
  height: 61px;
  border: solid 1px;
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;

  justify-content: center;
  margin: auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: VT323;
  font-size: 32px;
  border: solid black;
  border-width: 1px 3px 5px 1px;
  width: 560px;
  height: 60px;
  text-align: center;
  background-color: #a8e776;
  padding-left: 20px;
  margin-bottom: 30px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;

  border: solid black;
  border-width: 1px 3px 5px 1px;
  width: 700px;

  margin-bottom: 30px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  display: flex;
  font-family: VT323;
  font-size: 12px;
  background-color: white;
  border: solid black;
  border-width: 1px 3px 5px 1px;
  width: 460px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
}

.genres-detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  position: relative;
  align-items: flex-end;
  font-family: VT323;
  font-size: 18px;
  height: auto;
}
.genre-item {
  background-color: #b5ffed;
  border: solid black;
  border-width: 1px 3px 5px 1px;
  padding: 5px 12px 7px 10px;
  margin-top: 5px;
}

.left-col {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  font-size: 12px;
  text-align: left;
  width: 500px;
}
.right-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  font-size: 18px;
  width: 200px;
}

.rating-detail {
  display: flex;
  flex-direction: row;
  border: solid black;
  border-width: 1px 3px 5px 1px;
  align-items: center;
  font-size: 54px;
  color: #121a23;
  display: flex;
  align-content: flex-end;
  background-color: #a259ff;

  width: 65px;
  padding: 10px 90px 10px 5px;
  margin-bottom: 5px;
}
.ico {
  padding: 3px 10px 4px 5px;
}
.meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-size: 24px;
  background-color: #a8e776;
  padding: 5px 20px 10px 20px;
  border: solid black;
  border-width: 1px 3px 5px 1px;
}
.meta-rating {
  font-size: 64px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.esrb {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  background-color: #dbdbdb;
  margin-top: 10px;
  border: solid black;
  border-width: 1px 3px 5px 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.esrb-rating {
  font-size: 23px;
  margin-top: -5px;
}

.right-info {
  background-color: white;
  font-size: 18px;
  margin-top: 10px;
  border: solid black;
  border-width: 1px 3px 5px 1px;
}
.release {
  font-size: 32px;
  font-weight: 600;
  background-color: #e7d576;
  padding: 10px;
}
.devs {
  font-size: 24px;
  text-align: center;
  padding-top: 5px;
}
.right-spacer {
  font-size: 24px;
  padding-top: 10px;
  text-align: center;
}
.platforms {
  font-size: 24px;
  text-align: center;
  padding: 15px;
}

/* Landing */

.background-land {
    display: flex;
  padding: 0px;
  margin: 0px;
  height: 1600px;
  background-position: top;
  background-color: #fff;
  background-image: radial-gradient(#bdbdbd 1px, transparent 1px);
  background-size: 10px 10px;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 420px;
  margin: auto;
  margin-top: 200px;
  border: solid black;
  border-width: 1px 3px 5px 1px;
  background-color: #fff;
}

.button-sel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.labels {
  display: flex;
  font-size: 24px;
  margin: 5px;
}

.logo-land {
  margin-top: 50px;
}

.power {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"].toggle {
  opacity: 0;
  position: absolute;
  left: -9000px;
  top: -9000px;
}

input[type="checkbox"].toggle + label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"].toggle + label::before {
  content: "";
  width: 1.8em;
  height: 1.1em;
  background-color: #d9d9d9;
  margin-right: 0.25em;
  border: 1px solid #b6b6b6;
}

input[type="checkbox"].toggle + label::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "";
  font-size: 0.5em;
  height: 0.9em;
  left: 0.3em;
  width: 1.6em;
  height: 1.6em;
  background-color: #0a1019;
  color: white;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked + label::after {
  content: "";
  transform: translateX(100%);
}

input[type="checkbox"].toggle:disabled + label {
  color: #777;
}

input[type="checkbox"].toggle:disabled + label::before {
  background-color: #ccc;
}

input[type="checkbox"].toggle:disabled + label::after {
  background-color: #777;
}

.display {
  background-color: #b5bcbc;
  border: 1px solid #a5aaaa;
  width: 183px;
  height: 41px;
  margin-bottom: 20px;
  position: relative;
}
.display-img {
  padding: 9px 9px 9px 11px;
  position: absolute;
  z-index: 0;
}

.loading-txt {
  padding: 9px 9px 9px 11px;
  position: absolute;
  z-index: 1;
  font-size: 32px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.115em;
  text-align: left;
}

.loader-dots {
  z-index: 2;
  --bgcolor: #00000033 20px, transparent 0;
  --loadercolor: #0a1019 20px, transparent 0;
  width: 140px;
  height: 20px;
  background-image: linear-gradient(var(--bgcolor)),
    linear-gradient(var(--bgcolor)), linear-gradient(var(--bgcolor)),
    linear-gradient(var(--bgcolor));
  background-repeat: no-repeat;
  background-size: 4px 4px;
  background-position: 0 0, 12px 0, 22px 0;
  animation: loaderfill 1s linear infinite;
  position: absolute;
  margin-top: 24px;
  margin-left: 125px;
}

@keyframes loaderfill {
  0% {
    background-image: linear-gradient(var(--bgcolor)),
      linear-gradient(var(--bgcolor)), linear-gradient(var(--bgcolor)),
      linear-gradient(var(--bgcolor));
  }

  25% {
    background-image: linear-gradient(var(--loadercolor)),
      linear-gradient(var(--bgcolor)), linear-gradient(var(--bgcolor)),
      linear-gradient(var(--bgcolor));
  }

  50% {
    background-image: linear-gradient(var(--loadercolor)),
      linear-gradient(var(--loadercolor)), linear-gradient(var(--bgcolor)),
      linear-gradient(var(--bgcolor));
  }

  75% {
    background-image: linear-gradient(var(--loadercolor)),
      linear-gradient(var(--loadercolor)), linear-gradient(var(--loadercolor)),
      linear-gradient(var(--bgcolor));
  }

  100% {
    background-image: linear-gradient(var(--loadercolor)),
      linear-gradient(var(--loadercolor)), linear-gradient(var(--loadercolor)),
      linear-gradient(var(--loadercolor));
  }
}
